{% extends "base.html" %}
{% block title %}
Expense History
{% endblock %}
{% block content%}

</br>
<h3 align="center"> Expense by Category</h3>
<table class="table">
    <thead>
    <tr>

        <th scope="col">Category</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for category, items in expense|groupby("category") %}
    <tr>

        <td>{{category}}</td>
        <!--   {% for e in items %}
           <td>{{ e.amount}}</td>
           {% endfor %}-->
        <td>{{ items|sum(attribute='amount') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}