{% extends "base.html" %}
{% block title %}
Expense History
{% endblock %}
{% block content%}
</br>

<h3 align="center"> Expense by Date</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
        <th scope="col">Note</th>
    </tr>
    </thead>
    <tbody>
    {% for expense in expense %}
    <tr>
        <td>{{expense.expense_date}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.comments}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}