{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">

    <h3 align="center"> ADD BUDGET</h3>
    <div class="form-group">

        <label for="month">Month</label>
        <input aria-label="readonly input example" class="form-control" id="month" name="month" readonly
               type="text" value={{month}}>
    </select>

        <label for="year">Year</label>
        <input aria-label="readonly input example" class="form-control" id="year" name="year" readonly type="text"
               value={{year}}>


        <label for="amount">Amount</label>
        <input class="form-control" id="amount" name="amount" placeholder="Enter amount" type="text"/>

        <br/>
        <div align="center">
            <button class="btn btn-primary" type="submit"> Set Budget</button>
        </div>
    </div>
</form>
{% endblock %}
