{% extends "base.html" %}
{% block title %}Update Budget{% endblock %}
{% block
content %}
<form method="POST">

    <h3 align="center"> UPDATE BUDGET</h3>
    <div class="form-group">

        <label for="month">Month</label>
        <input class="form-control" type="text" id="month" name="month" value={{budget.month}} aria-label="readonly input example" readonly>


        <label for="year">Year</label>
        <input class="form-control" type="text" id="year" name="year" value={{budget.year}} aria-label="readonly input example"  readonly>


        <label for="amount">Amount</label>
        <input class="form-control" id="amount" name="amount" value = {{budget.amount}} required type="text"/>
        <br/>
        <div align="center">
            <button class="btn btn-primary" type="submit"> Update Budget</button>
        </div>
    </div>
</form>
{% endblock %}